@media only screen and (max-width: 1500px) {

	/*-- Section 1 TY - Page --*/

	.succes_img {
		right: -12%;
	}

	/*-- /Section 1 TY - Page --*/

}

@media only screen and (max-width: 1360px) {

	/*-- Section 1 TY - Page --*/

	.succes_img {
		right: -6%;
	}

	/*-- /Section 1 TY - Page --*/

}

@media only screen and (max-width: 1280px) {

	.row {
		padding: 0 2%;
	}

	/*-- Header --*/

	.main-nav {
		margin: 0 -24px;
		text-align: center;
	}

	.main-nav li {
	    padding: 5px 24px;
	}

	/*-- /Header --*/

	/*-- Section 8 --*/

	.gallery-slider .slick-next {
	    right: -8%;
	}

	.gallery-slider .slick-prev {
	    left: -8%;
	}

	/*-- /Section 8 --*/

	/*-- Section 10 --*/

	.thumbnails_4 {
	    width: 900px;
	    margin: 24px auto 8px auto;
	}

	.thumb_4 {
	    width: 235px;
	    margin: 40px 32px;
	}

	.thumb_4.single {
	    width: 216px;
	    margin: 53px 57px 53px 0;
	    padding: 13px 14px 15px 14px;
	}

	.thumb_4:after {
	    width: 36px;
	    margin-left: 10px;
	}

	.thumbnails_4 .thumb_4:nth-child(3n):after {
	    margin-top: 45px;
	}

	.thumbnails_4 .thumb_4:nth-child(4n):after,
	.thumbnails_4 .thumb_4:nth-child(5n):after {
	    margin: 0 21px 0 0;
	}

	/*-- /Section 10 --*/

	/*-- Section 1 TY - Page --*/

	.succes_img {
		right: 0;
	}

	/*-- /Section 1 TY - Page --*/

	/*-- Section 1 - Blog --*/

	.categories_nav {
	    margin: 0 -8px;
	}

	.categories_nav li {
	    margin: 0 8px;
	}

	/*-- /Section 1 - Blog --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Section 5 --*/

	.form_wrapp_2 .form_inner {
	    padding: 14px 5%;
	}

	.form-tree-cols .col-1 {
	    width: 100%;
	}

	.form-tree-cols .col-2 {
	    width: 100%;
	    text-align: center;
	}

	.two-cols .left .input_wrapp {
	    margin: 5px 0;
	}

	.form-tree-cols .two-cols {
	    margin: 0;
	}

	.two-cols .left {
	    width: 100%;
	    float: none;
	    padding: 5px 0;
	}

	.form_wrapp_2 .green-pill {
	    width: 100%;
	    max-width: 100%;
	    margin: 9px 0 11px 0;
	}

	/*-- /Section 5 --*/

	/*-- Section 8 --*/

	.gallery-slider .slick-next {
	    right: -4%;
	}

	.gallery-slider .slick-prev {
	    left: -4%;
	}

	/*-- /Section 8 --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Header --*/

	.header-row-1 .col-1 {
	    width: 48%;
	}

	.header-row-1 .col-2 {
		display: none;
	}

	.header-row-1 .col-3 {
	    width: 27%;
	    text-align: center;
	}

	.header-row-1 .col-4 {
	    width: 25%;
	    text-align: right;
	}

	.main-nav {
		margin: 0 -14px;
		text-align: center;
	}

	.main-nav li {
	    padding: 5px 14px;
	}

	/*-- /Header --*/

	 /*-- Section 6 --*/

	.thumb_3 .inner {
	    height: 110px;
	}

	.thumb_3 {
	    display: inline-block;
	    vertical-align: top;
	    width: 110px;
	}

	.tabs-footer .col-1 {
	    width: 100%;
	    padding: 5px 0;
	}

	.tabs-footer .col-2 {
	    width: 100%;
	    padding: 5px 0;
	    text-align: center;
	}

	.tabs-footer .green-pill {
	    min-width: 100%;
	}

	/*-- /Section 6 --*/

	/*-- Section 8 --*/

	.gallery-slider_wrapp:before {
		display: none;
	}

	.gallery-slider .slick-arrow {
		top: 100%;
	   	margin-top: -28px;
	}

	.gallery-slider .slick-next {
	    right: 2%;
	}

	.gallery-slider .slick-prev {
	    left: 2%;
	}

	.gallery-slider .slick-dots {
		padding: 0 50px;
	}

	/*-- /Section 8 --*/

	/*-- Section 1 - Blog --*/

	.two-cols_templ .left {
	    width: 62%;
	}

	.two-cols_templ .right {
	    width: 38%;
	}

	.categories_wrapp {
	    margin: 5px 0;
	}

	/*-- /Section 1 - Blog --*/

}

@media only screen and (max-width: 900px) {

	h1 {
	    font-size: 34px;
	    line-height: 38px;
	}

	/*-- Header --*/

	.main-nav {
		margin: 0 -10px;
		text-align: center;
	}

	.main-nav li {
	    padding: 5px 10px;
	}

	.main-nav li a {
	    font-size: 16px;
	    line-height: 16px;
	}

	/*-- /Header --*/

	/*- Section 1 --*/

	.promo-content {
	    padding: 33px 0 70px 0;
	}

	.promo p {
	    padding: 12px 0;
	}

	.promo ol {
	    padding: 5px 0;
	}

	/*- /Section 1 --*/

	/*- Section 4 --*/

	.article-2 .left {
	    width: 100%;
	    float: left;
	    padding: 33px 0 0 0;
	}

	.article-2 .right {
	    width: 100%;
	    float: left;
	    padding: 0;
	}

	.slider-2_wrapp {
		max-width: 545px;
		margin: 0 auto;
	}

	.article-2_title:before {
	    top: -30px;
	}

	/*- /Section 4 --*/

	/*-- Section 7 --*/

	.article-two-cols .col-1 {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.article-two-cols .col-2 {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	/*- /Section 7 --*/

	/*-- Section 10 --*/

	.section-10 {
	    padding-top: 60px;
	    padding-bottom: 30px;
	}

	.thumbnails_4 {
		width: 100%;
		padding: 0 10px;
		font-size: 0;
		line-height: 0;
	}

	.thumb_4 {
		display: inline-table;
		vertical-align: top;
	    width: 46%;
	    float: none !important;
	    max-width: 600px;
	    margin: 10px 2%;
	    padding: 15px 2%;
	}

	.thumb_4:after {
		display: none;
	}

	.thumb_4 .col-2 {
	    width: auto;
	    vertical-align: middle;
	    padding-top: 0;
	    padding-right: 0;
	}

	.thumb_4.single {
		display: inline-table;
		vertical-align: top;
	    width: 46%;
	    float: none !important;
	    max-width: 600px;
	    margin: 25px 2% 15px 2%;
	    padding: 15px 4%;
	}

	.thumb_4 p {
	    font-size: 15px;
	    line-height: 20px;
	}

	.thumb_4 p a {
	    font-size: 15px;
	    line-height: 15px;
	}

	/*-- /Section 10 --*/

	/*-- Section 12 --*/

	.thumbnails_6 {
	    margin: 26px -2% 16px -2%;
	}

	.thumb_6 {
	    width: 46%;
	    margin: 23px 2%;
	}

	/*-- /Section 12 --*/

	/*-- Section 14 --*/

	.contacts_wrapp {
	    width: 100%;
	    height: auto;
	    position: relative;
	    margin-bottom: 30px;
	}

	.contacts_wrapp .row {
	    height: auto;
	    text-align: left;
	}

	.contacts_wrapp .row:after {
		display: none;
	}

	.contacts {
	    max-width: 100%;
	}

	/*-- /Section 14 --*/

	/*-- Section 1 - Blog --*/

	.two-cols_templ .left {
	    width: 100%;
	    padding: 14px 0;
	}

	.two-cols_templ .right {
	    width: 100%;
	    padding: 14px 0;
	}

	/*-- /Section 1 - Blog --*/

	/*-- Section 2 - Blog Article --*/

	.thumbnails_9 {
	    margin: 0 -2%;
	}

	.thumb-9 {
	    width: 46%;
	    margin: 20px 2%;
	}

	/*-- /Section 2 - Blog Article --*/

}

@media only screen and (max-width: 768px) {

	section {
	    padding: 37px 0;
	}

	.row {
		padding: 0 4%;
	}

	/*-- Header --*/

	.header-row-1 .col-1 {
	    width: 63%;
	}

	.header-row-1 .col-4 {
		width: 23%;
		padding-right: 2%;
		text-align: center;
	}

	.header-row-1 .col-3 {
		display: none;
	}
	
	.header-row-1 .col-5 {
		display: inline-block;
		vertical-align: top;
	}

	.header {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 12;
	}

	.header:before {
	    height: 56px;
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.2) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.2) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#33000000',GradientType=0 );
	}

	.header-row {
	    border-bottom: none;
	}

	.header-row-1 {
	    padding: 4px 0;
	    z-index: 5;
	}

	.callbak-link {
		border-bottom: none !important;
	}

	.callbak-link .callbak {
	    display: inline-block;
	    vertical-align: top;
	}

	.callbak-link span {
		display: none;
	}

	.header .tel-link {
		display: none;
	}

	.respmenubtn {
	    display: inline-block;
	}

	.main-nav_wrapp {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		margin: 0;
		padding-top: 80px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
		background: rgba(0, 0, 0, .95);
	}

	.main-nav {
		height: calc(100vh - 90px);
		margin: 0;
		padding: 20px 0;
	}

	.main-nav li {
		display: block;
		width: 100%;
		padding: 10px 0;
	}

	.main-nav li a {
		display: block;
		padding: 0 2%;		
		text-align: center;
		font-size: 21px;
		line-height: 21px;
		font-weight: bold;
		border-bottom: none;
	}

	.main-nav li a:link,
	.main-nav li a:visited {
	    border-bottom: none;
	}

	.main-nav li a:active,
	.main-nav li a.active {
	    border-bottom: none;
	}

	.main-nav li a:hover {
	    border-bottom: none;
	}

	/*-- /Header --*/

	/*-- Section 1 --*/

	.promo {
	    padding: 181px 0 55px 0;
	}

	.promo_bg {
		display: none;
	}

	.promo_bg_resp {
		display: block;
	}

	.promo-content {
	    padding: 33px 0 0 0;
	}

	/*-- /Section 1 --*/

	/*- Section 3 --*/

	.thumbnails-2 {
	    margin: 7px 0 30px 0;
	}

	.thumb-2 {
	    width: 100%;
	    padding: 12px 6%;
	}

	.thumb-2 p {
	    font-size: 16px;
	    line-height: 19px;
	}

	.thumb-2 p.p-1 {
	    font-size: 19px;
	    line-height: 21px;
	}

	/*- /Section 3 --*/

	/*- Section 5 --*/

	.two-cols_2 .left {
	    width: 100%;
	    float: none;
	    padding: 5px 0;
	    text-align: center;
	}

	.two-cols_2 .right {
	    width: 100%;
	    float: none;
	    padding: 5px 0;
	    text-align: center;
	}

	/*- /Section 5 --*/

	/*- Section 8 --*/

	.photo-box {
	    height: 400px;
	}

	/*- /Section 8 --*/

	/*- Section 9 --*/

	.section-9 {
	    padding-top: 30px;
	    padding-bottom: 40px;
	}

	.testimonial {
		display: block;
		margin: 30px 10px;
   		padding: 28px 17px 19px 17px;
	}

	.testimonial .col-1 {
		display: block;
	    width: 100%;
	    padding-right: 0;
	}

	.testimonial .col-2 {
		display: block;
	    width: 100%;
	    padding-right: 0;
	}

	.testimonial .img-box {
		margin: 0 auto 10px auto;
	}

	.testimonial h3 {
	    text-align: center;
	}

	.testimonial-slider_wrapp:before {
	    height: 346px;
	}

	/*- /Section 9 --*/

	/*-- Section 13 --*/

	.article-two-cols_2 > .col-1 {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	}

	.article-two-cols_2 > .col-2 {
	    width: 100%;
	    float: none;
	    padding-right: 0;
	}

	.form_wrapp_3_2 {
	    margin: 0 auto;
	}

	.center-article {
	    margin: 0;
	}

	.thumbnails_5 {
		display: none;
	}

	/*-- /Section 13 --*/

	/*-- Section 1 TY - Page --*/

	.header_inner {
		background-color: transparent;
	}

	.header_inner:after {
		display: none;
	}

	.header.header_inner:before {
		height: 56px;
	}

	.succes_content {
	    padding-top: 50px;
	}

	/*-- /Section 1 TY - Page --*/

	/*-- Section 1 - Blog --*/

	.promo_blog {
	    background-image: url(img/blog_bg_resp.jpg);
	}

	.article_3 .img-box {
	    height: 280px;
	}

	/*-- /Section 1 - Blog --*/

	/*-- Section 3 - Blog --*/

	.thumbnails_8 {
	    margin: 15px 0 20px 0;
	}

	.thumb-8 {
	    width: 100%;
	    margin: 15px 0;
	}

	/*-- /Section 3 - Blog --*/

}

@media only screen and (max-width: 660px) {

	/*-- Section 6 --*/

	.thumb_3 .mask p {
		bottom: 5px;
	    left: 2%;
	    text-align: center;
	    font-size: 14px;
	    line-height: 18px;
	    font-weight: 300;
	}

	/*-- /Section 6 --*/

	/*-- Section 10 --*/

	.thumb_4 {
	    width: 100%;
	    margin: 10px 0;
	    padding: 13px 5%;
		background-color: rgb(255, 255, 255);
		-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05);
		-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05);
		box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05);
	}

	.thumb_4.single {
	    width: 100%;
	    margin: 10px 0;
	    padding: 13px 5%;
	    text-align: center;
	}

	.thumb_4 p {
	    font-size: 16px;
	    line-height: 20px;
	}

	.thumb_4 p a {
	    font-size: 16px;
	    line-height: 16px;
	}

	.thumb_4.single p {
	    font-size: 18px;
	    line-height: 23px;
	}

	/*-- /Section 10 --*/

	/*-- Section 12 --*/

	.thumbnails_6 {
	    margin: 26px 0 16px 0;
	}

	.thumb_6 {
	    width: 100%;
	}

	.thumb_6 h3 {
	    font-size: 22px;
	    line-height: 28px;
	}

	.thumb_6 .description p {
	    font-size: 16px;
	    line-height: 18px;
	    font-weight: normal;
	}

	/*-- /Section 12 --*/

	/*-- Section 2 - Blog Article --*/

	.thumbnails_9 {
	    margin: 0;
	}

	.thumb-9 {
	    width: 100%;
	    margin: 20px 0;
	}

	/*-- /Section 2 - Blog Article --*/

}

@media only screen and (max-width: 600px) {

	/*- Section 2 --*/

	.thumb-1 {
	    width: 33.33%;
	}

	/*- /Section 2 --*/

	/*- Section 11 --*/

	.section-11 {
		padding-top: 20px;
	    padding-bottom: 15px;
	}

	.article_title h3 {
	    font-size: 25px;
	    line-height: 29px;
	}

	/*- /Section 11 --*/

}

@media only screen and (max-width: 550px) {

	/*-- Header --*/

	.header-row-1 .col-1 {
	    width: 50%;
	}

	.header-row-1 .col-4 {
	    width: 30%;
	    text-align: right;
	}

	.header-row-1 .col-5 {
	    width: 20%;
	}

	.logo {
		display: inline-block;
		vertical-align: top;
		width: 95px;
	}

	.img_wrapp {
		display: inline-block;
		vertical-align: top;
	}

	.logo p {
		display: none;
	}

	/*-- /Header --*/

	/*-- Section 4 --*/

	.slider-2-big .slide .img-box {
	    height: 300px;
	}

	.article-2_title h3 {
	    font-size: 24px;
	    line-height: 28px;
	}

	/*-- /Section 4 --*/

}

@media only screen and (max-width: 480px) {

	h2 {
	    font-size: 27px;
	    line-height: 29px;
	}

	h3 {
	    font-size: 23px;
	    line-height: 27px;
	}

	.h2_2 {
	    font-size: 25px;
	    line-height: 31px;
	}

	/*-- Section 1 --*/

	.promo h1 {
	    padding: 0 0 6px 0;
	    text-align: center;
	}

	.promo .green-pill {
	    display: block;
	    min-width: 100%;
	}

	/*-- /Section 1 --*/

	/*- Section 2 --*/

	.section-2 {
	    padding-top: 34px;
	}

	.thumb-1 {
	    width: 50%;
	    padding: 6px 1.5%;
	}

	/*- /Section 2 --*/

	/*-- Section 4 --*/

	.articles-2_wrapp {
	    margin: 20px 0 0 0;
	}

	.article-2_title:before {
		display: none;
	}

	.article-2_title h3 {
	    text-align: center;
	}

	/*-- /Section 4 --*/

	/*-- Section 6 --*/

    .thumbnails_3 .thumb_3 {
	    margin: 4px;
	    width: 100px;
	}

	.thumb_3 .inner {
	    height: 100px;
	}

	/*-- /Section 6 --*/

	/*-- Section 7 --*/

	.article-two-cols .col-2 .green-pill {
	    min-width: 100%;
	}

	/*-- /Section 7 --*/

	/*-- Section 8 --*/

    .section-8 {
	    padding-top: 40px;
	    padding-bottom: 30px;
	}

	.gallery-slider {
	    margin: 24px 0 20px 0;
	}

	.photo-box .slide-description {
		background: rgba(255, 255, 255, .7);
	    bottom: 0;
	    left: 0;
	}

	/*-- /Section 8 --*/

	/*-- Section 1 - Blog --*/

	.categories_nav {
	    margin: 0;
	}

	.categories_nav li {
	    margin: 0;
	    padding: 2px 0;
	    width: 100%;
	}

	.categories_nav li a {
	    font-size: 15px;
	    line-height: 15px;
	}

	.article_footer {
	    padding: 7px 4%;
	}

	.article_3 .article_footer .left {
	    width: 100%;
	    float: none;
	    padding: 2px 0;
	}

	.article_3 .article_footer .right {
	    width: 100%;
	    float: none;
	    padding: 2px 0;
	    text-align: left;
	}

	.form_wrapp_4 .form_inner {
	    padding: 10px 2% 20px 2%;
	}

	/*-- /Section 1 - Blog --*/

	/*-- Section 14 --*/

	.contacts_inner {
	    padding: 7px 10px;
	}

	/*-- /Section 14 --*/

}

@media only screen and (min-width: 769px) {

	.main-nav_wrapp {
		display: block !important;
	}

}